################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/TodoApp/.vs/TodoApp/v15
/TodoApp/obj
/.vs
/TodoApp/bin/x86/Debug
/TodoApp/TodoApp.csproj.user
/TodoApp/.vs/TodoApp/v16
/src/DataAccessLibrary/obj
/src/TodoApp.Shared/obj
/src/TodoApp.UWP/.vs/TodoApp/v16
/src/TodoApp.UWP/bin/x86/Debug
/src/TodoApp.UWP/obj
/src/DataAccessLibrary/bin/x86/Debug
/src/TodoApp.Shared/bin/x86/Debug
/src/DataAccessLibrary/bin/Debug
/src/TodoApp.Shared/bin/Debug
